[user]
	email = gui@iroqwa.org
	name = Guillaume Delacour

# as git-config(1), default since Git 1.8.4
[color]
	ui = always

[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
